#topsearch {
    /*width: 100%;*/
    padding: 15px;
    border-bottom: 1px solid black;
}
.createideaform {
    padding: 2px;
}
.input-group-addon:hover {
    cursor: pointer;
}
.input-group-addon {
    cursor: auto;
}
.container {
    padding-right: 38px;
    padding-left: 38px;
}
#searchresults {
    border-bottom: 1px solid black;
}
h1 {
    font-size: 50px;
}
.tsg {
    height: 50px;
}