* {
    font-family: 'Roboto', sans-serif;
}
#topsearch {
    /*width: 100%;*/
    padding: 15px;
    border-bottom: 1px solid black;
}
.createideaform {
    padding: 2px;
}
.input-group-addon:hover {
    cursor: pointer;
}
.input-group-addon {
    cursor: auto;
}
.container {
    padding-right: 38px;
    padding-left: 38px;
}
#searchresults {
    border-bottom: 1px solid black;
}
h1 {
    font-size: 50px;
}
.tsg {
    height: 50px;
    font-size: 120%;
}
#searchButton {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#searchButton:hover {
    background-color: #286090;
    border-color: #204d74;
}
#ciB {
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#ciB:hover {
    background-color: #449d44;
    border-color: #398439;
}